<h1> Perfil Cadastrado </h1>
<dl>
    <p><%= Profile.human_attribute_name(:photo) %>:</p>
    <%= image_tag(@profile.photo, id: 'perfil') %>
    <dt><%= Profile.human_attribute_name(:full_name) %>:</dt>
    <dd><%= @profile.full_name %></dd>
    <dt><%= Profile.human_attribute_name(:social_name) %>:</dt>
    <dd><%= @profile.social_name %></dd>
    <dt><%= Profile.human_attribute_name(:birth_date) %>:</dt>
    <dd><%= l @profile.birth_date %></dd>
    <dt><%= Profile.human_attribute_name(:formation) %>:</dt>
    <dd><%= @profile.formation %></dd>
    <dt><%= Profile.human_attribute_name(:description) %>:</dt>
    <dd><%= @profile.description %></dd>
    <dt><%= Profile.human_attribute_name(:experience) %>:</dt>
    <dd><%= @profile.experience %></dd>

</dl>

<% if candidate_signed_in? %>
    <%= link_to 'Editar Perfil', edit_profile_path(@profile)%>
<% end %>

<% if headhunter_signed_in? %>
    <%= link_to 'Novo Comentário', new_profile_comment_path(@profile)%>
    <h1>Comentários</h1>
    <% @comments.each do |comment| %>
      <div id= "comment-<%= comment.id %>">
        <dl>
          <dt> Comentário: </dt>
          <dd><%= comment.text %></dd>
          <dt> Data e Horário: </dt>
          <dd> <%= I18n.l(comment.created_at.to_date) %> ás <%= comment.created_at.strftime("%H:%M")%></dd>
          
        </dl>
      </div>
    <% end %>
<% end %>

<%= link_to 'Voltar', root_path%>