<h1><%= %></h1>

<dl>
    <dt><%= Vacancy.human_attribute_name(:title) %>:</dt>
    <dd><%= @vacancy.title %></dd>
    <dt><%= Vacancy.human_attribute_name(:job_description) %>:</dt>
    <dd><%= @vacancy.job_description %></dd>
    <dt><%= Vacancy.human_attribute_name(:skills) %>:</dt>
    <dd><%= @vacancy.skills %></dd>
    <dt><%= Vacancy.human_attribute_name(:level) %>:</dt>
    <dd><%= @vacancy.level.name %></dd>
    <dt><%= Vacancy.human_attribute_name(:salary) %>:</dt>
    <dd><%= number_to_currency @vacancy.salary %></dd>
    <dt><%= Vacancy.human_attribute_name(:registration_date) %>:</dt>
    <dd><%= l @vacancy.registration_date %></dd>
    <dt><%= Vacancy.human_attribute_name(:address) %>:</dt>
    <dd><%= @vacancy.address %></dd>

</dl>