<h1> Vaga Cadastrada </h1>

<div>
    <dl>
        <dt><%= Vacancy.human_attribute_name(:title) %>:</dt>
        <dd><%= @vacancy.title %></dd>
        <dt><%= Vacancy.human_attribute_name(:job_description) %>:</dt>
        <dd><%= @vacancy.job_description %></dd>
        <dt><%= Vacancy.human_attribute_name(:skills) %>:</dt>
        <dd><%= @vacancy.skills %></dd>
        <dt><%= Vacancy.human_attribute_name(:level) %>:</dt>
        <dd><%= @vacancy.level.name %></dd>
        <dt><%= Vacancy.human_attribute_name(:salary) %>:</dt>
        <dd><%= number_to_currency @vacancy.salary %></dd>
        <dt><%= Vacancy.human_attribute_name(:registration_date) %>:</dt>
        <dd><%= l @vacancy.registration_date %></dd>
        <dt><%= Vacancy.human_attribute_name(:address) %>:</dt>
        <dd><%= @vacancy.address %></dd>

    </dl>
    <% if candidate_signed_in? %>
      <%= link_to 'Candidatar', new_vacancy_apply_vacancy_path(@vacancy) %>
    <% end %>

    <% if headhunter_signed_in? %>
        <%  @apply_vacancies.each do |applied| %>
				  <div id= "applied-vacancy-<%= applied.id %>">
            <dl>
              <dt> Nome Completo: </dt>
              <dd><%= applied.profile.full_name %></dd>
              <% if applied.profile.star_profile.present?%>
                  <p>Perfil Favorito</p>
              <% end %>
              <dt> Nome Social: </dt>
              <dd><%= applied.profile.social_name %></dd>
              <dt> Mensagem: </dt>
              <dd><%= applied.apply_message %></dd>
              <dt> Formação: </dt>
              <dd><%= applied.profile.formation %></dd>
            </dl>
            <%= link_to 'Ver Perfil', profile_path(applied.profile.id)%>
				  </div>
        <% end %>
    <% end %>

</div>