<h1>Olá Candidato</h1>

 <%= form_with url: search_vacancies_path, method: :get do |f| %>
  <%= f.label :q, 'Procurar Vagas'%>
  <%= f.search_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<h1>Vagas Disponíveis</h1>

<% @vacancies.each do |vacancy| %>
  <% unless ApplyVacancy.exists?(profile: current_candidate.profile, vacancy: vacancy) %>
    <div id="vacancy-<%= vacancy.id %>">
      <dl>
        <dt> Vaga </dt>
        <dd><%= vacancy.title %></dd>
        <dt> Descrição </dt>
        <dd><%= vacancy.job_description %></dd>
        <dt>Nível</dt>
        <dd><%= vacancy.level.name %></dd>
      </dl>
      <p><%= link_to 'Ver Detalhes', vacancy_path(vacancy)%></p>
    </div>
  <% end %>
<% end %>
