<!DOCTYPE html>
<html>
  <head>
    <title>PfHeadhunterRecruit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <nav>
      <% if !headhunter_signed_in? && !candidate_signed_in? %>
        <p>Headhunter</p>
        <%= link_to 'Criar uma conta Headhunter', new_headhunter_registration_path %>
        <%= link_to 'Entrar', new_headhunter_session_path %>
        <p>Candidato</p>
        <%= link_to 'Criar uma conta Candidato', new_candidate_registration_path %>
        <%= link_to 'Entrar', new_candidate_session_path %>
      <% end %>
    </nav>

      <% if headhunter_signed_in?%>
        <nav>
          <%= link_to 'Início', root_path %>
          <%= link_to 'Cadastrar novo nível', new_level_path %>
          <%= link_to 'Cadastrar nova vaga', new_vacancy_path%>
          <%= link_to 'Ver Minhas Vagas', headhunter_vacancies_vacancies_path%>
          <%= link_to ' Sair ', destroy_headhunter_session_path, method: :delete  %>
        </nav>
      <% end  %>
      <% if candidate_signed_in? %>
          <nav>
            <%= link_to 'Início', root_path %>
            <%= link_to 'Ver Perfil', profile_path(current_candidate) %>
            <%= link_to ' Minhas Vagas ', all_apply_jobs_profiles_path %>
            <%= link_to ' Ver Rejeições ', all_reject_applies_profiles_path %>
            <%= link_to ' Sair ', destroy_candidate_session_path, method: :delete  %>
          </nav>
      <% end %>

    <%= yield %>
  </body>
</html>
