<!DOCTYPE html>
<html>
  <head>
    <title>PfHeadhunterRecruit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <nav>
      <% unless headhunter_signed_in? %>
        <%= link_to 'Criar uma conta', new_headhunter_registration_path %>
        <%= link_to 'Entrar', new_headhunter_session_path %>
      <% else %>
        <%= link_to 'Cadastrar nova vaga', new_vacancy_path%>
        <%= link_to ' Sair ', destroy_headhunter_session_path, method: :delete  %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
